.category-section {
  width: 80%;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.heading {
  font-size: 28px;
  margin-bottom: 20px;
}

/* TABS */
.category-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.tab-btn {
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #0a7d3b;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.tab-btn.active {
  background: #0a7d3b;
  color: #fff;
}

/* GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD */
.product-card {
  background: #f1ffda00;
  background: linear-gradient(
    180deg,
    rgba(241, 255, 218, 1) 60%,
    rgba(151, 201, 63, 0.67) 75%
  );
  padding: 15px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-4px);
}

/* IMAGE */
.product-card img {
  width: 100%;
  object-fit: cover;
}
.product-card a {
  text-decoration: none;
  color: #7ac001;
  font-size: 1rem;
  font-weight: 600;
}

.img-placeholder {
  width: 100%;
  height: 200px;
  background: #eee;
}

/* WISHLIST */
.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

/* Default (outline heart) */
.wishlist-btn svg {
  stroke: #222;
  fill: none;
  transition: all 0.2s ease;
}

/* Active (red heart) */
.wishlist-btn.active svg {
  stroke: #e63946;
  fill: #e63946;
}

/* TITLE */
.product-card h4 {
  font-size: 1.3rem;
  margin: 10px 0 5px;
}

/* RATING */
.rating {
  font-size: 14px;
  color: #777;
}

/* PRICE */
.price {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
}

.price span {
  font-size: 14px;
  font-weight: normal;
}

/* QTY */
.qty {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 8px 0;
}

.qty button {
  width: 25px;
  height: 25px;
  border: none;
  background: #6cab2f;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.qty span {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON */
.order-btn {
  margin-top: 10px;
  background: #0a7d3b;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

/* VIEW ALL */
.view-all {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-all-a {
  margin-bottom: -15px;
  margin-left: 18px;
}

.view-all-a a {
  background: #0a7d3b;
  color: #fff;
  padding: 14px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* SKELETON */
.skeleton {
  height: 280px;
  border-radius: 16px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 37%, #e0e0e0 63%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .category-section {
    width: 90%;
    padding: 20px 0px;
  }
  .arrow-icon {
    display: none;
  }
  .view-all-a {
    margin: 15px 0;
  }
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
